@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  font-family: "DM Sans", sans-serif;
}
ul {
  display: flex;
  justify-content: center;
  gap: 30px;
}
a {
  display: block;
  text-decoration: none;
}
li {
  list-style: none;
}
header {
  position: fixed;
  inset: 0 0 auto;
  z-index: 99;
  transition: background-color 0.3s ease-in-out;
}
header .logo1 img {
  display: none;
  width: 100%;
}
header.fixed {
  background-color: #00856f;
}
header.fixed .logo {
  order: 2;
}
header.fixed .logo1 {
  order: 1;
}
header.fixed .drower {
  order: 3;
}
header.fixed .btn {
  order: 4;
}
header.fixed #toggle {
  order: 5;
}
header.fixed .logo img {
  display: none;
}
header.fixed .logo1 img {
  display: block;
}
header.fixed .inner_header .drower .menu li a {
  color: #f7f9f9;
}
header.fixed .inner_header .btn .btn1 {
  border: 1px solid white;
}
header.fixed .inner_header .btn .btn1:hover{
  background-color: #00453A;
}
header.fixed .inner_header .btn .btn1 a {
  color: white;
}

.wrapper {
  max-width: 1420px;
  width: 100%;
  padding: 0 30px;
}
.inner_header {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.inner_header .logo img {
  width: 100%;
}
.inner_header .drower .menu li a {
  color: #00856f;
  font-size: 16px;
}
.btn1 {
  padding: 10px 24px;
  border: 1px solid #00856f;
  border-radius: 40px;
}
.btn1:hover{
  background-color: #00856f;
}
.btn1 a:hover{
  color: white;
}
.btn1 a {
  text-transform: uppercase;
  color: #00856f;
  font-size: 14px;
}
.drower ul li:hover{
  text-decoration: underline;
  text-decoration-color: #00856f;
  text-underline-offset: 8px;
}
header.fixed .drower ul li:hover{
  text-decoration-color: white;
}
.wel_to_doct_care_inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: #dce9e2;
  flex-wrap: wrap;
}
.wel_to_doct_care_inner .part1,
.wel_to_doct_care_inner .part2 {
  width: 50%;
}
.wel_to_doct_care_inner .part1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.wel_to_doct_care_inner .part1 h3 {
  font-size: 14px;
  color: #00856f;
}
.wel_to_doct_care_inner .part1 h1 {
  font-size: 52px;
}
.wel_to_doct_care_inner .part1 p {
  color: #495057;
}

.wel_to_doct_care_inner .part1 .btn1 {
  width: 55%;
  background-color: #00856f;
}
.wel_to_doct_care_inner .part1 .btn1:hover{
  background-color: #00453A;
}
.wel_to_doct_care_inner .part1 .btn1 a {
  color: white;
}
.wel_to_doct_care_inner .part2 {
  text-align: center;
}
.wel_to_doct_care_inner .part2 img {
  width: 100%;
}
.rating {
  position: relative;
}
.rating .wrapper {
  display: flex;
  justify-content: center;
  position: absolute;
  top: -80px;
}
.rating_inner {
  display: flex;
  width: 85%;
  padding: 35px 50px;
  justify-content: space-evenly;
  background-color: #fffaf1;
}
.rating_inner .part1 {
  padding-right: 20px;
  text-align: left;
}
.rating_inner .part1 h2,
.rating_inner .part2 h2,
.rating_inner .part3 h2 {
  font-size: 48px;
}
.rating_inner .part1 p,
.rating_inner .part2 p,
.rating_inner .part3 p {
  font-size: 16px;
}
.rating_inner .part2 {
  padding: 0 50px;
  border: 1px solid #00856f;
  border-top: none;
  border-bottom: none;
  text-align: center;
}
.rating_inner .part3 {
  padding-left: 20px;
  text-align: right;
}
.inner_services {
  padding: 150px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f7f9f9;
}
.inner_services .part1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inner_services .part1 p {
  font-size: 14px;
  color: #00856f;
}
.inner_services .part1 h2 {
  font-size: 40px;
  width: 497px;
  text-align: center;
}
.inner_services .part2 {
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 50px;
}
.digestive {
  width: 347px;
  height: 207px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: white;
}
.digestive img {
  width: 24px;
}
.digestive h2 {
  font-size: 24px;
}
.digestive p {
  text-align: justify;
}
.inner_about_us {
  display: flex;
  flex-direction: row;
  background-color: #fffaf1;
  padding: 150px 75px;
  flex-wrap: wrap;
}
.inner_about_us .part1,
.inner_about_us .part2 {
  width: 50%;
}
.inner_about_us .part1 img {
  width: 100%;
}
.inner_about_us .part2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  padding-left: 50px;
}
.inner_about_us .part2 h3 {
  font-size: 14px;
  color: #00856f;
}
.inner_about_us .part2 h2 {
  font-size: 40px;
  width: 447px;
  text-align: justify;
}
.inner_about_us .part2 p {
  font-size: 16px;
  text-align: justify;
}
.inner_contact_us {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 150px 75px;
}
.inner_contact_us .part1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  gap: 30px;
}
.inner_contact_us .part1 h2 {
  font-size: 40px;
}
.inner_contact_us .part2 img {
  width: 100%;
}
.social_media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}
.location,
.mail {
  display: flex;
  align-items: center;
}
.inner_contact_us .part2 {
  width: 50%;
}
.inner_contact_us .btn1 {
  width: 50%;
  background-color: #00856f;
}
.inner_contact_us .btn1:hover{
  background-color: #00453A;
}
.inner_contact_us .btn1 a {
  color: white;
}
.inner_footer {
  background-color: #00856f;
  padding: 50px 60px;
  display: flex;
  justify-content: space-between;
}
.inner_footer .part1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.inner_footer .part1 img {
  width: 256px;
}
.inner_footer .part1 p {
  color: white;
  font-size: 14px;
}
.inner_footer .part2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#toggle {
  display: none;
  background: none;
  border: none;
  font-size: 25px;
  color: #00856f;
}
header.fixed #toggle{
  color: white;
}

@media screen and (max-width: 1150px) {
  #toggle {
    display: block;
  }
  .inner_header .drower,
  .inner_header .btn {
    display: none;
  }
  #open {
    text-align: center;
    background-color: #dce9e2;
    border: none;
    border-radius: 0;
  }
  #open a {
    color: #00856f;
    border: 1px solid #00856f;
    border-radius: 20px;
    padding: 10px;
  }
  .inner_header .drower {
    position: absolute;
    width: 100%;
    inset: 100% 0 0 0;
  }
  .inner_header .drower ul {
    flex-direction: column;
    gap: 0px;
  }
  .inner_header .drower ul li {
    text-align: center;
    padding: 20px;
    background-color: #dce9e2;
  }
  header.fixed .inner_header .drower ul li {
    background-color: #00856f;
  }
  header.fixed .inner_header #open {
    background-color: #00856f;
  }
  header.fixed .inner_header #open a {
    color: white;
    border: 1px solid white;
  }
  .wel_to_doct_care_inner .part1 .btn1,
  .inner_contact_us .part1 .btn1 {
    text-align: center;
  }
  .wel_to_doct_care_inner {
    padding: 100px 65px 70px 65px;
  }
  .inner_services .part1 {
    gap: 20px;
  }
  .inner_about_us .part2 h2 {
    width: 380px;
  }
  .inner_about_us .part1 img {
    height: -webkit-fill-available;
  }
}
@media screen and (max-width: 950px) {
  header .logo1 img {
    width: 90%;
  }
  .wel_to_doct_care_inner .part1 h1 {
    font-size: 45px;
  }
  .wel_to_doct_care_inner .part1 p {
    font-size: 14px;
  }
  .wel_to_doct_care_inner .part1 .btn1 {
    width: 70%;
  }
  .wel_to_doct_care_inner .part1 .btn1 a {
    font-size: 12px;
  }
  .rating_inner .part1 h2,
  .rating_inner .part2 h2,
  .rating_inner .part3 h2 {
    font-size: 40px;
  }
  .rating_inner .part1 p,
  .rating_inner .part2 p,
  .rating_inner .part3 p {
    font-size: 14px;
  }
  .inner_services .part1 h2 {
    font-size: 35px;
  }
  .digestive h2 {
    font-size: 20px;
  }
  .digestive p {
    font-size: 14px;
  }
  .inner_about_us {
    flex-direction: column;
    align-items: center;
  }
  .inner_about_us .part1,
  .inner_about_us .part2 {
    width: 100%;
  }
  .inner_about_us .part2 h2 {
    width: 100%;
    font-size: 34px;
  }
  .inner_about_us .part2 p {
    font-size: 14px;
  }
  .inner_about_us .part2 {
    order: 1;
    width: 100%;
    align-items: center;
    padding-left: 0;
    padding-bottom: 50px;
  }
  .inner_about_us .part1 {
    order: 2;
    width: 100%;
    align-items: center;
  }
  .inner_contact_us {
    flex-direction: column;
  }
  .inner_contact_us .part1,
  .inner_contact_us .part2 {
    width: 100%;
  }
  .inner_contact_us .part1 {
    align-items: center;
    padding-bottom: 50px;
  }
  .inner_contact_us .part1 h2 {
    font-size: 34px;
  }
  .inner_footer .part1 img {
    width: 225px;
  }
}
@media screen and (max-width: 800px) {
  .wel_to_doct_care_inner .part1 .btn1 {
    width: 100%;
    margin-bottom: 10px;
  }
  .inner_contact_us .btn1 {
    width: 60%;
  }
  .inner_contact_us .btn1 a {
    font-size: 13px;
  }
  .inner_contact_us,.inner_about_us{
    padding: 150px 20px;
  }
}
@media screen and (max-width: 750px) {
  header .logo1 img {
    width: 65%;
  }
  .inner_header .drower .menu li a {
    color: #00856f;
    font-size: 14px;
  }
  .wel_to_doct_care_inner {
    flex-direction: column;
  }
  .wel_to_doct_care_inner .part1 {
    width: 100%;
    align-items: center;
  }
  .wel_to_doct_care_inner .part1 h1 {
    font-size: 40px;
    text-align: center;
  }
  .wel_to_doct_care_inner .part1 p {
    text-align: justify;
  }
  .wel_to_doct_care_inner .part1 .btn1 {
    width: 60%;
  }
  .rating_inner {
    flex-direction: column;
  }
  .rating_inner .part2 {
    border: none;
  }
  .rating_inner .part1 h2,
  .rating_inner .part2 h2,
  .rating_inner .part3 h2,
  .inner_contact_us .part1 h2,
  .inner_about_us .part2 h2 {
    font-size: 30px;
  }
  .rating_inner .part1 p,
  .rating_inner .part2 p,
  .rating_inner .part3 p {
    font-size: 12px;
  }
  .inner_services .part1 {
    padding-top: 50px;
  }
  .inner_contact_us .part1 .mail p,
  .inner_contact_us .part1 .location p {
    font-size: 14px;
  }
  .inner_contact_us .btn1 {
    width: 70%;
  }
}
@media screen and (max-width: 650px) {
  .wel_to_doct_care_inner .part1 h1 {
    font-size: 35px;
  }
  .wel_to_doct_care_inner .part1 p {
    font-size: 13px;
  }
  .wel_to_doct_care_inner .part1 .btn1 {
    width: 75%;
  }
  .rating_inner .part1 h2,
  .rating_inner .part2 h2,
  .rating_inner .part3 h2 {
    font-size: 25px;
  }
  .inner_contact_us .btn1 {
    width: 80%;
  }
}
@media screen and (max-width: 550px) {
  .wel_to_doct_care_inner {
    padding: 100px 20px 70px;
  }
  .wel_to_doct_care_inner .part1 h1 {
    font-size: 30px;
  }
  .inner_services .part1 h2 {
    width: 100%;
    padding: 0 20px;
  }
  .rating_inner {
    gap: 20px;
  }
  .rating_inner .part1,
  .rating_inner .part2,
  .rating_inner .part3 {
    text-align: center;
    padding: 0;
  }
  .digestive {
    width: 300px;
    height: 180px;
  }
  .digestive h2 {
    font-size: 18px;
  }
  .digestive p {
    font-size: 12px;
  }
  .inner_services .part1 h2 {
    font-size: 25px;
  }
  .inner_contact_us .btn1 {
    width: 100%;
  }
  .inner_contact_us .btn1 a {
    font-size: 12px;
  }
  .inner_footer {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 50px 20px;
  }
  .inner_footer .part1,
  .inner_footer .part2 {
    width: 100%;
    align-items: start;
    justify-content: start;
  }
  .inner_footer .part1 img {
    width: 175px;
  }
  .inner_footer .part1 p {
    font-size: 12px;
  }
  .inner_footer .part2 img {
    width: 20px;
  }
}
@media screen and (max-width: 450px) {
  .inner_header .logo img {
    width: 85%;
}
header .logo1 img {
  width: 50%;
}
.inner_header .drower .menu li a {
  font-size: 12px;
}
#open a{
  font-size: 12px;
}
#toggle {
  font-size: 20px;
}
  .wel_to_doct_care_inner .part1 h3 {
    font-size: 12px;
  }
  .wel_to_doct_care_inner .part1 h1 {
    font-size: 25px;
  }
  .wel_to_doct_care_inner .part1 p {
    font-size: 11px;
  }
  .wel_to_doct_care_inner .part1 .btn1 a {
    font-size: 10px;
  }
  .rating_inner .part1 h2,
  .rating_inner .part2 h2,
  .rating_inner .part3 h2 {
    font-size: 20px;
  }
  .rating_inner .part1 p,
  .rating_inner .part2 p,
  .rating_inner .part3 p {
    font-size: 10px;
  }
  .inner_services .part1 h2 {
    font-size: 20px;
}
.digestive {
  width: 250px;
  height: 190px;
}
.digestive img {
  width: 20px;
}
.digestive h2 {
  font-size: 16px;
}
.digestive p {
  font-size: 10px;
}
.rating_inner .part1 h2, .rating_inner .part2 h2, .rating_inner .part3 h2, .inner_contact_us .part1 h2, .inner_about_us .part2 h2 {
  font-size: 20px;
}
.inner_about_us .part2 p {
  font-size: 12px;
}
.inner_contact_us .part1 .mail p, .inner_contact_us .part1 .location p {
  font-size: 12px;
}
.inner_contact_us .btn1 a {
  font-size: 10px;
}
.inner_footer .part1 img {
  width: 130px;
}
.inner_footer .part1 p {
  font-size: 10px;
}
.inner_footer .part2 img {
  width: 14px;
}

}
@media screen and (max-width:350px) {
  .digestive {
    width: 200px;
    height: 190px;
}
.wel_to_doct_care_inner .part1 .btn1 {
  width: 100%;
}
}
